@charset "UTF-8";



@font-face {
    font-family:"fonte-chique";
    src: url(Josefin_Sans/static/JosefinSans-Light.ttf) format("truetype") ;
}

@font-face {
    font-family:"fonte-chique2";
    src: url(Josefin_Sans/static/JosefinSans-Regular.ttf) format("truetype") ;
}

@media (max-width:1080px){
  .layout{
  min-width: 250px;
  }
  
  nav{
    align-items: center;
  }
}

@keyframes spin{
   0%{
    transform: rotate(125deg);
  }

   50%{
    transform: rotate(-100deg);
   }


   100%{
     transform: rotate(125deg)
     
  }
}


:root {
--cor-1: rgb(230, 187, 243);
--cor-2: #eae2ee;
--cor-3: rgb(0, 0, 0);
--cor-4: #ca6eb3;
--cor-5: rgba(224, 154, 241, 0.726); 
--cor-6: #41085f;
--cor-7: #fc9ee0;
--cor-8: #96c989e7; 
--cor-9: #ffffff;
 }


body{
  background-color:var(--cor-2);
  text-align: center;
  margin: 0px;
  height: 400px;
  
  
}

header{
font-family: "fonte-chique";
font-size: 40px;
padding: 10px;
text-align: center;

}

nav{
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--cor-8);
  margin: 0px;
  padding: 0px;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
}

nav > a {
    font-family: "fonte-chique2";
    color: var(--cor-9);
    margin: 25px;
    padding: 5px;  
    text-decoration: none; 
}

.link1{
  border-radius: 30px 60px;
  color: var(--cor-4);
  background-color:var(--cor-2);
  text-decoration: underline;
}

.link2:hover, .link3:hover, .link4:hover{
  color: var(--cor-4);
  background-color:var(--cor-2);
  transition: all 0.5s  ease;
  scale: 1;
  padding: 4px;
  border-radius: 30px 60px;
  transform: translateY(-5px);
  text-decoration: underline;
}

.site{
  font-family: "fonte-chique";
  font-size: 30px;
  color: var(--cor-1);

}

main{
font-family: "fonte-chique";

}
.estrela{
  position: relative;
  bottom: 415px;
  right: 73px;
  z-index: -1;
  animation:spin 6s ease-in-out 0s infinite ;
  

  
  

}

.titulo {
  font-size: 80px;
  color: var(--cor-8);
  
}

.texto{
    font-size: 20px;
    color: var(--cor-4);
    font-family: "fonte-chique";
   
}

 article{
  margin: -16px;
  padding: 0px;
  text-align: justify;
  font-size: 100%;
  max-width: 500px;
}


button{
  font-family: "fonte-chique2";
  font-size: 20px;
  background-color: var(--cor-7);
  border-radius: 30px 60px;
  padding: 7px;
  width: 100px;
  height: 40px;
  border: 2px solid var(--cor-4);
  color: var(--cor-2);
  
}

button:hover{
  transition: all 0.5s  ease;
  scale: 1.1;
  background-color: var(--cor-2);
  color: var(--cor-6);
}

.conteudo{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  
 
}


.layout{ 
    max-width: 600px;
    margin: 40px 10px;
    columns: 3;
    column-gap: 1em;
    flex-grow: 0.2;
    margin: 88px;

    
    
}

.layout > img{
   
    margin-bottom: 1em;
    width: 100%;
    border-radius: 10%;
    border: 5px solid var(--cor-8);
    transition: all 0.5s  ease;

}

.layout > img:hover{
   border: 5px solid var(--cor-4);
   transform: translateY(-10px);

}
   
 
mark{
  background-color: var(--cor-8);
  padding: 3.5px;
  border-radius: 10px;
  color: var(--cor-2);
}

.redes{
  background-color: var(--cor-2);
  border-radius: 40px;
  padding: 5px;
  border: 2px solid var(--cor-8);

}

.redes:hover{
  transition: all 0.5s  ease;
  scale: 1.1;
  transform: translateY(-5px);
  border: 2px solid var(--cor-4);
  
 
}
