@charset "UTF-8";



@font-face {
    font-family:"fonte-chique";
    src: url(Josefin_Sans/static/JosefinSans-Light.ttf) format("truetype") ;
}

@font-face {
    font-family:"fonte-chique2";
    src: url(Cerotta\ Personal\ Use\ Only.ttf) format("truetype") ;
}

@media (max-width:1080px){
  .layout{
  min-width: 250px;
  }
  
  nav{
    align-items: center;
  }
}

@keyframes spin{
   0%{
    transform: rotate(125deg);
  }

   50%{
    transform: rotate(-100deg);
   }


   100%{
     transform: rotate(125deg)
     
  }
}

@keyframes up{
  0%{
    transform: translateY(80px);
  }


  50%{
    transform: translateY(-50px);
    
  }

  100%{
    transform: translateY(80px);
  }
}

:root {
--cor-1: rgb(230, 187, 243);
--cor-2: #ffe2fd;
--cor-3: rgb(0, 0, 0);
--cor-4: #ca6eb3;
--cor-5: rgba(224, 154, 241, 0.726); 
--cor-6: #41085f;
--cor-7: #f196d6;
--cor-8: #96c989e7; 
--cor-9: #ffffff;
 }


body{
  background-color: var(--cor-2);
  text-align: center;
  margin: 0px;
  height: 400px;
  
  
}

header{
font-family: "fonte-chique";
font-size: 40px;
padding: 10px;
text-align: center;

}

nav{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--cor-8);
  margin: 0px;
  padding: 0px;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
}

nav > a {
    font-family: "fonte-chique";
    color: var(--cor-9);
    margin: 25px;
    padding: 8px;  
    text-decoration: none;
    
}

.link1{
  border-radius: 30px 60px;
  color: var(--cor-4);
  background-color:var(--cor-2);
  text-decoration: none;
 
}

.link2:hover, .link3:hover, .link4:hover{
  color: var(--cor-4);
  background-color:var(--cor-2);
  transition: all 0.5s  ease;
  scale: 1;
  padding: 8px;
  border-radius: 30px 60px;
  transform: translateY(-5px);
  text-decoration: none;
}

.site{
  font-family: "fonte-chique";
  font-size: 30px;
  color: var(--cor-1);

}

main{
font-family: "fonte-chique";

}
.estrela{
  
  
  animation:spin 5.5s ease-in-out 0s infinite ;
  

  
  

}

.titulo {
  font-family: "fonte-chique2";
  font-size: 50px;
  color: var(--cor-8);
  
}

.texto{
    font-size: 25px;
    color: var(--cor-4);
    font-family: "fonte-chique";
   
}

 article{
  margin: -16px;
  padding: 0px;
  text-align: justify;
  font-size: 300%;
  max-width: 400px;
}


button{
  font-family: "fonte-chique";
  font-size: 25px;
  background-color: var(--cor-7);
  border-radius: 30px 60px;
  padding: 7px;
  width: 115px;
  height: 40px;
  border: 2px solid var(--cor-4);
  color: var(--cor-2);
  
}

button:hover{
  transition: all 0.5s  ease;
  scale: 1.1;
  background-color: var(--cor-2);
  color: var(--cor-6);
}

.conteudo{
  margin: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  
 
}


.layout{ 
    max-width: 600px;
    animation:up 7s ease 0s infinite
    
    
}

.layout > img{
    margin-bottom: 1em;
    width: 119%;
    

}

   
 
mark{
  background-color: var(--cor-8);
  padding: 3.5px;
  border-radius: 10px;
  color: var(--cor-2);
}

.redes{
  background-color: var(--cor-2);
  border-radius: 40px;
  padding: 5px;
  border: 2px solid var(--cor-8);

}

.redes:hover{
  transition: all 0.5s  ease;
  scale: 1.1;
  transform: translateY(-5px);
  border: 2px solid var(--cor-4);
  
 
}
