@charset "UTF-8";


@font-face {
    font-family:"fonte-chique";
    src: url(Josefin_Sans/static/JosefinSans-Light.ttf) format("truetype") ;
}

@font-face {
    font-family:"fonte-chique2";
    src: url(Josefin_Sans/static/JosefinSans-Regular.ttf) format("truetype") ;
}

:root {
--cor-1: rgb(230, 187, 243);
--cor-2:  #ffe2fd;
--cor-3: rgb(0, 0, 0);
--cor-4: #ca6eb3;
--cor-5: rgba(224, 154, 241, 0.726); 
--cor-6: #41085f;
--cor-7: #fc9ee0;
--cor-8: #96c989e7; 
--cor-9: #ffffff;
 }


body{
  background-color:var(--cor-2);
  text-align: center;
  margin: 0px;
  
  
}

header{
font-family: "fonte-chique";
font-size: 40px;
padding: 10px;
text-align: center;

}

nav{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--cor-8);
  margin: 0px;
  padding: 0px;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274)
}

nav > a {
    font-family: "fonte-chique";
    color: var(--cor-9);
    margin: 25px;
    padding: 8px;  
    text-decoration: none; 
}



.link3{
  border-radius: 30px 60px;
  color: var(--cor-4);
  background-color:var(--cor-2);
  text-decoration: underline;
}

.link2:hover, .link4:hover, .link1:hover{
  color: var(--cor-4);
  background-color:var(--cor-2);
  transition: all 0.5s  ease;
  scale: 1;
  padding: 8px;
  border-radius: 30px 60px;
  transform: translateY(-5px);
  text-decoration: underline;
}